body {
    background-color: mintcream;
}
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: slategray;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: mintcream;
    position: sticky;
  }
  
.navbar li {
    float: left;
    border-right: 1px solid slategray;
    font-family: Helvetica;
  }
  
.navbar li a {
    display: block;
    color: slategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar li a:hover {
    background-color: powderblue;
}
a {
    color: slategray;
}
.h1 {
    display: flex;
    background-color: slategray;
    height: 350px;
    border-radius: 4px;
    
}
h2 {
    display: flex;
    background-color: slategray;
}
h3 {
    display: flex;
    background-color: slategray;
}
h4 {
    display: flex;
    background-color: slategray;
}