body {
    background-color: whitesmoke;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:gray;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.navbar li {
    float: left;
    border-right: 1px solid whitesmoke;
    font-family: Helvetica;
  }
  
.navbar li a {
    display: block;
    color:whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar li a:hover {
    background-color: rgb(181, 182, 182);
}
a {
    color: slategray;
}
.home h1 {
    display: flex;
    background-image: url(images/bg2.jpeg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    height: 350px;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.home {
    font-family: 'Share Tech';
    font-size: 2em;
    font-weight: lighter;
}
.about h2 {
    display: flex;
    background-image: url(images/background2.jpeg);
    color: whitesmoke;
    height: 100px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech';
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.about p {
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.5;
    margin: auto;
    color: slategray;
}
.about img {
    float: left;
    padding: 10px 10px 5px 10px;
}
.services h3 {
    display: flex;
    background-image: url(images/background2.jpeg);
    color: whitesmoke;
    height: 100px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech';
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    margin: 50px 0 40px 0;
}
.services p {
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: lighter;
    color: slategray;
    text-align: center;
}
.services ul {
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: lighter;
    color: slategray;
}
.contact h4 {
    display: flex;
    background-image: url(images/background2.jpeg);
    color:whitesmoke;
    height: 100px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech';
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
}
.contact p {
    font-family: Helvetica;
    font-size: 1.5em;
    font-weight: lighter;
    color: slategray;
}
.contact label {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin: 1em;
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: lighter;
    color: slategray;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.cardbox {
    display: flex;
    justify-content: space-evenly;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    display: inline-block;
    align-content: center;
    justify-content: center;
} 
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.card img {
    border-radius: 2px;
}
  
.container {
    padding: 2px 16px;
}
.container p {
    text-align: center;
    line-height: 1.3;
}
h5 {
    font-family: 'Share Tech';
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    color: slategray;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 30px 95px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 18px;
    border: 1px solid slategray;
    border-radius: 8px;
    background-image: url(images/background2.jpeg);
    -webkit-box-shadow: rgb(170, 170, 170) 0px 0px 40px 0px;
    -moz-box-shadow: rgb(247, 247, 247) 0px 0px 40px 0px;
    box-shadow: rgb(226, 226, 226) 0px 0px 40px 0px;
    text-shadow: rgb(231, 231, 231) 1px 1px 1px;
    font: normal normal normal 20px Helvetica;
    color: whitesmoke;
    font-family: Helvetica;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: rgb(130, 138, 146);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #a8a8a8, #cecece);
    background: linear-gradient(to bottom, #a8a8a8, #cecece);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: slategray;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #a8a8a8, #cecece);
    background: linear-gradient(to bottom, #a8a8a8, #cecece);
}
.submit {
    width: 100px;
    margin: 0 0 5px 18px;
    padding: 12px 18px;
    border: 1px solid slategray;
    border-radius: 8px;
    background: rgb(214, 214, 214);
    background: -webkit-gradient(linear, left top, left bottom, from(mintcream), to(rgb(237, 255, 246)));
    background: -moz-linear-gradient(top, #a8a8a8, #cecece);
    background: linear-gradient(to bottom, #a8a8a8, #cecece);
    -webkit-box-shadow: rgb(170, 170, 170) 0px 0px 40px 0px;
    -moz-box-shadow: rgb(247, 247, 247) 0px 0px 40px 0px;
    box-shadow: rgb(226, 226, 226) 0px 0px 40px 0px;
    text-shadow: rgb(231, 231, 231) 1px 1px 1px;
    font: normal normal normal 20px Helvetica;
    color: slategray;
    font-family: Helvetica;
    text-decoration: none;
}
.submit:hover,
.submit:focus {
    background: rgb(130, 138, 146);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #a8a8a8, #cecece);
    background: linear-gradient(to bottom, #a8a8a8, #cecece);
    color: #ffffff;
    text-decoration: none;
}
.submit:active {
    background: slategray;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #a8a8a8, #cecece);
    background: linear-gradient(to bottom, #a8a8a8, #cecece);
}
figure {
    border:3px solid gray;
    width: min-content;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}
.moreinfo h6 {
    display: flex;
    background-image: url(images/background2.jpeg);
    color: whitesmoke;
    height: 100px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech';
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    margin: 40px 0 40px 0;
}
.moreinfo p {
    font-family: Helvetica;
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: lighter;
    color: slategray;
    text-align: center;
}
input {
    font-size: 110%;
    font-family: Helvetica;
    font-weight: lighter;
    background-color: whitesmoke;
    color: slategray;
    padding: 5px;
}